<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Create a new equation</title>
</head>

<body>

<div class="container">

    <h3>Equation Directory</h3>
    <hr>

    <p class="h4 mb-4">Create a new equation</p>

    <i>Fill out the form. Asterisk (*) means required.</i>

    <form action="#" th:action="@{/equations/save}"
          th:object="${equation}" method="POST">

        <input type="text" th:field="*{nameOfCreator}"
               class="form-control mb-4 w-25" placeholder="Name of creator (*)">
        <div style="color:red" th:if="${#fields.hasErrors('nameOfCreator')}" th:errors="*{nameOfCreator}">Is required</div>

        <input type="text" th:field="*{bodyOfEquation}"
               class="form-control mb-4 w-25" placeholder="Body of equation (*)">
        <div style="color:red" th:if="${#fields.hasErrors('bodyOfEquation')}" th:errors="*{bodyOfEquation}">Try again</div>

        <button type="submit" class="btn btn-info col-2">Save</button>

    </form>

    <hr>
    <a th:href="@{/employees/list}">Back to Equations List</a>

</div>

</body>

</html>